<!DOCTYPE html>
<head><title>Patient</title></head>
<body>
    <table border="1">
        <thead>
            <th><strong>Patient</strong></th>
            <th><strong>Symptoms</stru[7[ong></th>
            <th><strong>Department</strong></th>
            <th><strong>Hospital </strong></th>
            <th><strong>Doctor</strong></th>
            <th><strong>visit_date</strong></th>
            <th><strong>Status</strong></th>
            <th></th>
        </thead>
        {% for appointment in all_appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.symptoms }}</td>
                <td>{{ appointment.department }}</td>
                <td>{{ appointment.hospital }}</td>
                <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.visit_date}}</td>
                <td>{{appointment.status}}</td>
                <td><a href="/update_status/{{appointment.id}}">update status</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>